* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

a {
  text-decoration: none;
}

.header-top{
  width: 100%;
  background-color: #2c3e50;
}

.container{
  margin: auto;
  width: 80%;
}

.start h3{
  color: #fff;
  font-size: 2rem;
}

.list-inline {
  list-style: none;
}

.list-inline  li {
  display: inline-block;
}

.main-menu {
  text-align: right;
  margin-top: 20px;
  margin-bottom: 10px;
}

.main-menu li {
  padding-right: 30px;
}

.main-menu li a {
  color: #fff;
}

.tiffany{
  width: 100%;
  background-color: #1abc9c;
}

.img-center{
  text-align: center;
  color:#fff;
}

.img-center h1{
  font-size: 5rem;
  font-weight: bold;
}

.img-center p{
  font-size: 1.5rem;
  margin: 20px 0;
}

/* main */

.text-h2 h2{
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  padding: 40px 0;
}

.sixty{
  width: 60%;
}

.about{
  color: #fff;
}

.sx{
  color: #fff;
  font-size: 1.8rem;
}

.but{
  text-align: center;
  margin: 20px 0;
}

.download{
  padding: 5px 10px;
  text-align: center;
}

.no-dec li{
  list-style: none;
  margin: 20px 0;
  font-size: 1.25rem;
  color: #2c3e50;
}

.border{
  border-bottom: 1px solid #fafafa;
}

.border-top{
  border-top: 1px solid #fafafa;
  margin: 40px 0;
}

hr{
  color: #fafafa;
}

.massage{
  margin-top: 100px;
}

.send{
  margin: 20px 0;
  padding: 5px 10px;
}

.footer-top{
  width: 100%;
  background-color: #2c3e50;
}

.footer-size{
  float: left;
  width: 33%;
  margin-top:40px;
  color: #fff;
  text-align: center;
}

.footer-size h5{
  font-size: 1.25rem;
}
