* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

a {
  text-decoration: none;
}

.list-inline {
  list-style: none;
}

.list-inline  li {
  display: inline-block;
}

.main-menu {
  text-align: right;
}

.main-menu li {
  padding-right: 30px;
}

.main-menu li a {
  color: #000;
}

.header-top{
  width: 100%;
  background-color: #2c3e50;
}

.container::after{
  display: block;
  clear: both;
  content: "";
}

.container{
  margin: auto;
  width: 80%;
}

.red{
  float: left;
  width: 50%;
  padding: 30px 0;
}

.blue{
  float: left;
  width: 50%;
  padding: 30px 0;
}

.tiffany{
  position: relative;
  width: 100%;
  background-color: #1abc9c;
  height: 350px;
}

.img-center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color:#fff;
}

h1{
  font-size: 3.8rem;
}

p{
  font-size: 1.2rem;
  margin: 20px 0;
}

/* main */
h2{
  text-align: center;
  font-size: 2.3rem;
  padding: 40px 0;
}

.green{
  background-color: green;
  border-radius: 5px;
  width: 33%;
  float: left;
}

.yellow{
  background-color: yellow;
  border-radius: 5px;
  width: 33%;
  float: left;
}

.purple{
  background-color: purple;
  border-radius: 5px;
  width: 33%;
  float: left;
}

.lightgreen{
  width: 60%;
}

.about{
  float: left;
  width: 100%;
}

.about h2{
  color: #fff;
}

.sx, .dx{
  width: 50%;
  float: left;
  color: #fff;
}

.but{
  float: left;
  width: 100%;
  text-align: center;
}
